.itemContainer {
  margin-top: 12px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.functionBtnConatainer {
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
