.top {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  background-color: #ccd2e32e;
  border-radius: 20px;
}

.thumbNail {
  border-radius: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: smaller;
}
.description {
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #ccd2e32e;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.description p {
  margin: 0;
  padding: 0;
}

.description img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.editBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
