.container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
}
